footer {
    color: white;
}

footer h1 {
    font-weight: 600;
    font-size: 40px;
}

footer p {
    font-weight: 200;
    font-size: 17px;
}

footer h5 {
    font-weight: 200;
    font-size: 14px;
}

footer a{
    color: white;
}

footer .btn-kontak{
    background-color: #04C26D;
    color: white;
}
footer .btn-kontak:hover{
    background-color: #01864a;
    color: white;
}

footer .bawah-dua {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

footer .bawah-dua button{
    font-weight: 200;
    font-size: 14px;
    color: white;
    margin: 0px;
    padding: 0px;
}

footer .bawah-dua a {
    font-weight: 200;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    footer .bawah-dua {
        text-align: right;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    footer .bawah-satu {
        text-align: center;
        margin-bottom: 20px;
    }

    footer h1{
        font-size: 23px;
    }

    footer p{
        font-size: 15px;
    }
}
