/* CONTENT AWAL */
.home-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-1 h1 {
    font-weight: 700;
    font-size: 50px;
}

.home-1 .green-text {
    color: #04C26D;
}

.home-1 p {
    font-size: 20px;
}

.home-1 .bold-text {
    font-weight: 600;
}

.image-home-2 {
    padding: 30px;
}

.image-home-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 991px) {
    .home-1 {
        text-align: center;
        height: 80vh;
    }

    .home-2 {
        height: 80vh;
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .home-1 {
        text-align: center;
        height: 50vh;
        padding: 10px;
        margin-top: 30px;
    }
    
    .home-2 {
        margin-top: -100px;
        text-align: center;
        height: 50vh;
        margin-bottom: 20px;
    }

    .home-1 h1 {
        font-weight: 700;
        font-size: 30px;
    }

    .home-1 p {
        font-size: 15px;
    }
}

/* AKHIR CONTENT AWAL */

/* VISI MISI */
.visi-misi {
    margin-bottom: 136px;
}

.visi-title {
    margin-top: 40px;
    margin-bottom: 28px;
    color: #009D4C;
    font-size: 46px;
    font-weight: 600;
}

.misi-title {
    margin-top: 40px;
    margin-bottom: 28px;
    color: #009D4C;
    font-size: 46px;
    font-weight: 600;
}

.visi-content {
    font-size: 20px;
    color: #333;
}

.misi-content {
    font-size: 20px;
    color: #333;
}

@media (max-width: 991px) {
    .misi-logo{
        margin-top: 40px;
    }
}
@media (max-width: 768px) {
    .home-3 {
        margin-bottom: 30px;
    }

    .visi-logo {
        /* margin-top: -40px; */
        text-align: center;
    }

    .visi-title {
        text-align: center;
    }

    .visi-title h1 {
        font-size: 30px;
    }

    .misi-logo {
        text-align: center;
    }

    .misi-title {
        text-align: center;
    }

    .misi-title h1 {
        font-size: 30px;
    }

    .visi-content {
        font-size: 15px;
    }

    .misi-content {
        font-size: 15px;
    }
}

/* AKHIR VISI MISI */

/* PEJABAT */
.pejabat-desa {
    height: 680px;
    padding-top: 47px;
}

.pejabat-desa h1 {
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
}

.pejabat-desa .card {
    background-color: transparent;
    border: none;
    margin: 0 .3em;
}

.pejabat-desa .card-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.pejabat-desa .card-subtitle {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.pejabat-desa .img2 {
    margin-top: 130px;
    background-color: #04C26D;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.pejabat-desa .img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #04C26D;
    margin-top: -130px;
}

.pejabat-desa .content-text {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #04C26D;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 768px) {
    .pejabat-desa h1 {
        font-size: 30px;
    }

    .pejabat-desa .card-title {
        font-size: 17px;
        font-weight: 600;
        color: white;
    }

    .pejabat-desa .card-subtitle {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 300;
        color: white;
    }

    .pejabat-desa {
        height: 640px;
        padding-top: 47px;
    }
}

/* AKHIR PEJABAT */

/* BERITA */
.berita {
    margin-top: 136px;
    margin-bottom: 100px;
}

.berita h1 {
    font-size: 40px;
    font-weight: 600;
    color: #04C26D;
    margin-bottom: 50px;
}

.berita .berita-1 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px;
    background-color: transparent;
    border: none;
}

.berita .card-img{
    width: 100%;
    height: 350px;
}

.berita .card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.berita .card-subimg{
    width: 100%;
    height: 170px;
}

.berita .card-subimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.berita .title-1 {
    background-color: #04C26D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    font-weight: 400;
}

.berita .title-2 {
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
    font-weight: 400;
}

.berita .title-2 .date {
    margin-left: 10px;
}

.berita .card-title {
    margin-top: 16px;
    margin-bottom: 26px;
}

.berita h2 {
    font-size: 17px;
    font-weight: 600;
    color: black;
}

.berita p {
    font-size: 14px;
    font-weight: 400;
    color: #495057;
}

.berita .lengkapnya {
    color: #009D4C;
    font-size: 16px;
}

@media (max-width: 991px) {
    .berita .card-img{
        width: 100%;
        height: 400px;
    }
    .berita .card-subimg{
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .berita h1{
        font-size: 30px;
    }
    .berita .card-img{
        width: 100%;
        height: 260px;
    }
    .berita .card-subimg{
        width: 100%;
        height: 260px;
    }
}
/* AKHIR BERITA */
