/* PROFIL DESA */
.profil-desa-1 {
    height: 100vh;
}

.profil-desa-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.profil-desa-2 .utama {
    color: #009D4C;
    font-size: 40px;
    font-weight: 600;
}

.profil-desa-2 h1 {
    color: black;
    font-size: 40px;
    font-weight: 600;
}

.profil-desa-2 p {
    color: #495057;
    font-size: 17px;
    font-weight: 400;
}

.profil-desa-2 .btn-tombol {
    background-color: #009D4C;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 768px) {
    .profil-desa-2 .utama {
        font-size: 30px;
    }

    .profil-desa-2 h1 {
        font-size: 30px;
        text-align: center;
    }

    .profil-desa-2 p {
        font-size: 15px;
        text-align: center;
    }

    .profil-desa-2 {
        align-items: center;
    }

    .profil-desa-2 .btn-tombol {
        margin-top: 20px;
        font-size: 13px;
        font-weight: 600;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* AKHIR PROFIL DESA */

/* SEJARAH */
.sejarah-1 {
    height: 100vh;
    padding-top: 300px;
}

.sejarah-1 h1 {
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-bottom: 40px;
}

.sejarah-1 .card-sejarah {
    min-height: 300px;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
}

.sejarah-2 .selengkapnya {
    margin-top: 20px;
}

.sejarah-2 a {
    text-decoration: none;
    color: #009D4C;
}

@media (max-width: 768px) {
    .sejarah-1 {
        padding-top: 100px;
    }

    .sejarah-1 h1 {
        font-size: 30px;
    }

    .sejarah-1 .card-sejarah {
        font-size: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* SHOW SEJARAH */
.show-sejarah {
    min-height: 100vh;
}

.show-sejarah h1 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
    color: #009D4C;
}

.card-show-sejarah {
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {

    .show-sejarah h1 {
        margin-top: 100px;
        font-size: 30px;
        font-weight: 600;
    }

    .card-show-sejarah {
        padding-top: 20px;
        font-size: 15px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* AKHIR SEJARAH */

/* VISI MISI PROFIL DESA */
.profil-desa-vismis {
    margin-top: 80px;
}

.profil-desa-vismis h1 {
    color: #009D4C;
}

/* AKHIR VISI MISI PROFIL DESA */

/* GEOGRAFIS */
.geografis {
    height: 100vh;
    margin-bottom: 100px;
}

.geografis h1 {
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
    color: #009D4C;
}

.geografis .mapping {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #009D4C;
    height: 90vh;
}

@media (max-width: 768px) {
    .geografis h1 {
        font-size: 30px;
    }

    .geografis .mapping {
        height: 70vh;
    }

    .geografis {
        margin-bottom: 10px;
    }
}

/* AKHIR GEOGRAFIS */
